<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Flavor Table</title>
<link rel="stylesheet" href="../../public/css/layout.css">
<!-- <link rel="stylesheet" href="../../public/css/base.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<link rel="stylesheet" href="../../../public/css/slider.css">