<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="../../../public/css/loading.css"> -->
  <link rel="stylesheet" href="../../../public/css/index.css">
  <link rel="stylesheet" href="../../../public/css/base.css">
  <link rel="stylesheet" href="../../../public/css/layout.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
  <link rel="stylesheet" href="../../../public/css/aboutus.css">
  <link rel="stylesheet" href="../../../public/css/contact.css">

</head>

<body>
  <!-- <div id="load"></div> -->

  <%- include('./header') %>

  <!-- Our team Section -->
  <section id="team" class="team content-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>Hello and welcome to FlavorTable! </h2>
          <p>Thank you so much for stopping by the site! If you are new to FlavouTable Recipes, the one thing you should
            know about us is that we are obsessed with creating scratch cooking recipes that you will love.</p>
          <a href="#x">
            <h2>Our Team</h2>
          </a>
          <h3 class="caption gray">Meet the people who make awesome stuffs</h3>
        </div><!-- /.col-md-12 -->

        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img
                    src="https://avatars1.githubusercontent.com/u/70090936?s=460&u=78189ba786941072c925365098a214c0d7b73f9f&v=4"
                    alt="" class="img-responsive">
                  <figcaption>
                    <h4>Mais Abdalrazeq</h4>
                    <p>Web Developer</p>

                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>

              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img
                    src="https://avatars0.githubusercontent.com/u/70090863?s=460&u=99ee7fe1d156ef1026650f6ef50ce60237c2c6a1&v=4"
                    alt="" class="img-responsive">
                  <figcaption>
                    <h4>Huda Aljundi</h4>
                    <p>Web Developer</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>

              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img
                    src="https://avatars2.githubusercontent.com/u/70090253?s=460&u=4ef22fa403a868bdce35578d2dbcca9cf32acc70&v=4"
                    alt="" class="img-responsive">
                  <figcaption>
                    <h4>Hadi Aji</h4>
                    <p>Web Developer</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>

              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->
            <div id="secoun-line">
              <div class="col-md-4">
                <div class="team-member">
                  <figure>
                    <img
                      src="https://avatars0.githubusercontent.com/u/41789410?s=460&u=4ff1cf66522c68a5a0039d7255391fc807118df5&v=4"
                      alt="" class="img-responsive">
                    <figcaption>
                      <h4>Omar Zain</h4>
                      <p>Web Developer</p>
                      <ul>
                        <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                      </ul>
                    </figcaption>
                  </figure>
                  <div id="x"></div>
                </div><!-- /.team-member-->
              </div><!-- /.col-md-4 -->

              <div class="col-md-4">
                <div class="team-member">
                  <figure>
                    <img
                      src="https://avatars3.githubusercontent.com/u/70090498?s=460&u=a9eeafaada0caa66fe8edb206303b346852443f2&v=4"
                      alt="" class="img-responsive">
                    <figcaption>
                      <h4>Joudi Awameh</h4>
                      <p>Web Developer</p>
                      <ul>
                        <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                      </ul>
                    </figcaption>
                  </figure>

                </div><!-- /.team-member-->
              </div><!-- /.col-md-4 -->
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.our-team -->



  <!-- <h2>Popup Form</h2> -->
  <!-- <p>Click on the button at the bottom of this page to open the login form.</p>
<p>Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window.</p> -->

  <button class="open-button" onclick="openForm()">Contact Us</button>

  <div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <!-- <h1>Login</h1> -->


      <label for="name"><b>name</b></label>
      <input type="text" placeholder="Write Your Name" name="name" required>


      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Your Email" name="email" required>

      <label for="phone"><b>Phone Number</b></label>
      <input type="number" placeholder="Enter Your Phone Number" name="phone" required>

      <textarea type="text" placeholder="Type your message here...." tabindex="5" required></textarea>

      <button type="submit" class="btn">Send Message</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>
  
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
  <script src="../../../public/js/loading.js"></script>
  <script src="../../../public/js/app.js"></script>
</body>

</html>