<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ERROR</title>

  <style>
    body {
      background-image: url(../../../public/images/404.png);
      background-size: cover;
      background-repeat: no-repeat;
      /* background-attachment: fixed; */
      margin-left: 50%;
    }

    button {
      border-radius: 10px;
      font-size: 15px;
      transition: 500ms;
      margin-left: -10%;
    }

    button:hover {
      border-radius: 10px;
      font-size: 17px;
      background-color: rgb(240, 119, 119);
      transition: 500ms;
      margin-left: -10%;
    }
  </style>
</head>

<body>

  <footer>
    <a href="/"> <button>Back To Favor Table</button></a>
  </footer>

  <body>


</html>