<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    

<footer> 
<div class="footer" role="contentinfo">
    <p><a href="/index">Home</a><span> | </span><a href="/searches/new">Searches</a><span> | </span><a href="/about">About Us</a><span></p>
    <div class="social menu">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
    </div>
  
    <p><a href="/copyright.php">Copyright</a> © 2020 FlavourTable.com All rights reserved.</p>
    </div>
</footer>
</body>
</html>