<nav id="navBar">

    <img class=".flavor" style="width: 237px; height: 80px; position: absolute; top: -2%; left: 42.5%;"
        src="../../../public/images/FlavorX.png" alt="Flavor">
</nav>


<div id="menuDiv">
    <div id="side-nav">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <!-- Nav BAR -->
            <a href="#top" id="top-link"><span class="icon fa-home">Home</span></a>
            <a href="#Random Recipes" id="portfolio-link"><span class="icon fa-th">Random
                    Recipes</span></a>

            <a href="#kitchens" id="about-link"><span class="icon fa-user">kitchens</span></a>
            <a href="#Searches" id="about-link"><span class="icon fa-user">Searches</span></a>
            <a href="#about" id="about-link"><span class="icon fa-user">About Us</span></a>
            <a href="#contact" id="contact-link"><span class="icon fa-envelope">Contact Us</span></a>
            <!-- Sign-up button -->
            <span class="login-register-actions" data-reactid="54"><a data-track-location="header"
                    data-track-source="navigation" href="/?action=login" rel="no-follow" title="Log-in"
                    data-reactid="55">Log-in</a><a data-track-location="header" data-track-source="navigation"
                    href="/?action=login" rel="no-follow" title="Sign-up" data-reactid="56">Sign-up</a></span>
        </div>
        <span id="menu" style="font-size:45px;  cursor:pointer; color:white;width: 100px;" onclick="openNav()">&#9776;
        </span>
    </div>
</div>