<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/layout.css">
    <link rel="stylesheet" href="../../public/css/base.css">
</head>

<body>
    <header>
        <nav id="navBar">FlavourTable</nav>
        <div id ="menuDiv">  
        <div id="side-nav">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <!-- Nav BAR -->
                <a href="#top" id="top-link"><span class="icon fa-home">Home</span></a>
                <a href="#Random Recipes" id="portfolio-link"><span class="icon fa-th">Random Recipes</span></a>
                
                <a href="#kitchens" id="about-link"><span class="icon fa-user">kitchens</span></a>
                <a href="#Searches" id="about-link"><span class="icon fa-user">Searches</span></a>
                <a href="#about" id="about-link"><span class="icon fa-user">About Us</span></a>
                <a href="#contact" id="contact-link"><span class="icon fa-envelope">Contact Us</span></a>
                <!-- Sign-up button -->
                <span class="login-register-actions" data-reactid="54"><a data-track-location="header"
                        data-track-source="navigation" href="/?action=login" rel="no-follow" title="Log-in"
                        data-reactid="55">Log-in</a><a data-track-location="header" data-track-source="navigation"
                        href="/?action=login" rel="no-follow" title="Sign-up" data-reactid="56">Sign-up</a></span>
            </div>
            <span style="font-size:45px;  cursor:pointer; color:white;width: 100px;" onclick="openNav()">&#9776; </span>
        </div>
    </div>




    </header>

   


        
        <!-- <section class="site-main page-index " role="main">
            <div class="container">
                <ul>
                    <li class="__photo"
                        style="background: url('https://images.unsplash.com/photo-1528451635828-f28cd48439a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')no-repeat center; background-size: cover; ">
                    </li>
                    <li class="__photo"
                        style="background: url('https://images.unsplash.com/photo-1521909944782-4aee70b674ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')no-repeat center; background-size: cover; ">
                    </li>
                    <li class="__photo"
                        style="background: ('https://images.unsplash.com/photo-1541921671-10e275785336?ixlib=rb-1.2.1&auto=format&fit=crop&w=977&q=80')no-repeat center; background-size: cover;  ">
                    </li>
                </ul>

            </div>
        </section> -->

    
    <script src="../../../../public/js/app.js"></script>
</body>

</html>