<nav id="navBar">

    <img class=".flavor" style="width: 237px; height: 80px; position: absolute; top: -2%; left: 42.5%;"
        src="../../../public/images/FlavorX.png" alt="Flavor">
</nav>


<div id="menuDiv">
    <div id="side-nav">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <!-- Nav BAR -->
            <a href="/index" id="top-link"><span>Home</span></a>
            <a href="/searches/new" id="portfolio-link"><span>Search Recipes</span></a>
            <a href="/yourFavorite" id="about-link"><span>Favourite</span></a>
            <!-- <a href="#Searches" id="about-link"><span >Searches</span></a> -->
            <a href="/about" id="about-link"><span>About Us</span></a>
            <!-- <a href="#contact" id="contact-link"><span >Contact Us</span></a> -->
        </div>
        <span id="menu" style="font-size:45px;  cursor:pointer; color:white;width: 100px;" onclick="openNav()">&#9776;
        </span>
    </div>
</div>