<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <%- include('./header') %>
    
    <header>
        <!-- <img class="headerImg" src="../../../public/images/img1.jpg" alt="" > -->
        <video autoplay loop muted id="video" style="height:400px; width:100%;">
            <source src="../../../public/images/background - 43653.mp4" type="video/mp4"> </video>
    </header>




    <!-- recipe 1 -->
    <!-- Content Start - Just for visualization -->
    <div class="title">
    <h1>This Week's Featured Recipes</h1>
</div>
    <h1>Sweets</h1>
    <div id="content">
        <!-- Recipe Start -->
        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/cake.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv" data-test="pulse"></i>
                </div>
                <div class="name">
                    <a href="https://sallysbakingaddiction.com/vanilla-cake/">
                        <h3>white cake</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 4 Hours</li>
                <li><i class="fa fa-leaf"></i> 200 Calories</li>
                <li><i class="fa fa-cutlery"></i> 15 People</li>
            </ul>
        </div>
        <!-- Recipe End -->
        <!-- Recipe Start -->
        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/cookies.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv"></i>
                </div>
                <div class="name">
                    <a href="https://www.allrecipes.com/recipe/10813/best-chocolate-chip-cookies/">
                        <h3>Cookies</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 2 Hours</li>
                <li><i class="fa fa-leaf"></i> 300 Calories</li>
                <li><i class="fa fa-cutlery"></i> 24 People</li>
            </ul>
        </div>
        <!-- Recipe End -->

        <!-- Recipe Start -->
        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/donuts.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv"></i>
                </div>
                <div class="name">
                    <a href="https://www.delish.com/cooking/recipe-ideas/a24788319/how-to-make-donuts-at-home/">
                        <h3>Donuts</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 2 Hours</li>
                <li><i class="fa fa-leaf"></i> 400 Calories</li>
                <li><i class="fa fa-cutlery"></i> 16 People</li>
            </ul>
        </div>
        <!-- Recipe End -->




        <h1>Breakfast</h1>
        <!-- Recipe Start -->
        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/frenchtoast.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv"></i>
                </div>
                <div class="name">
                    <a href="https://www.mccormick.com/recipes/breakfast-brunch/quick-and-easy-french-toast">
                        <h3>French Toast</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 5 Minutes</li>
                <li><i class="fa fa-leaf"></i> 95 Calories</li>
                <li><i class="fa fa-cutlery"></i> 1 Person</li>
            </ul>
        </div>
        <!-- Recipe End -->
        <!-- Recipe Start -->
        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/flafel.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv"></i>
                </div>
                <div class="name">
                    <a href="https://www.themediterraneandish.com/how-to-make-falafel/">
                        <h3>flafel</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 40 Minutes</li>
                <li><i class="fa fa-leaf"></i> 95 Calories</li>
                <li><i class="fa fa-cutlery"></i> 24 People</li>
            </ul>
        </div>
        <!-- Recipe End -->
        <!-- Recipe Start -->
        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/salad.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv"></i>
                </div>
                <div class="name">
                    <a href="https://www.loveandlemons.com/salad-recipes/">
                        <h3>Salad</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 30 Minutes</li>
                <li><i class="fa fa-leaf"></i> 120 Calories</li>
                <li><i class="fa fa-cutlery"></i> 2 People</li>
            </ul>
        </div>
        <!-- Recipe End -->




        <h1>Lunch</h1>

        <!-- Recipe Start -->
        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/sushi.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv"></i>
                </div>
                <div class="name">
                    <a href="https://www.fifteenspatulas.com/homemade-sushi/">
                        <h3>sushi</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 45 Minutes</li>
                <li><i class="fa fa-leaf"></i> 190 Calories</li>
                <li><i class="fa fa-cutlery"></i> 3 People</li>
            </ul>
        </div>
        <!-- Recipe End -->

        <!-- Recipe Start -->

        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/maklobah.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv"></i>
                </div>
                <div class="name">
                    <a href="https://www.legalnomads.com/maklouba/">
                        <h3>Maklobah</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 2 Hours</li>
                <li><i class="fa fa-leaf"></i> 400 Calories</li>
                <li><i class="fa fa-cutlery"></i> 7 People</li>
            </ul>
        </div>
        <!-- Recipe End -->

        <!-- Recipe Start -->
        <div class="recipe">
            <div class="image">
                <img src="../../../public/images/dawali.jpg">
                <div class="likes">
                    <i class="fa fa-heart-o lv"></i>
                </div>
                <div class="name">
                    <a href="https://feelgoodfoodie.net/recipe/lebanese-stuffed-grape-leaves/">
                        <h3>Dwali</h3>
                    </a>
                </div>
            </div>
            <ul class="media">
                <li><i class="fa fa-clock-o"></i> 2 Hours</li>
                <li><i class="fa fa-leaf"></i> 300 Calories</li>
                <li><i class="fa fa-cutlery"></i> 2 People</li>
            </ul>
        </div>
        <!-- Recipe End -->

    </div>

    

    <script src="../public/js/index.js"></script>

    <%- include('./footer') %>
</body>

</html>