<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">

</head>

<body>
    

<!-- slide show  (home page)  -->
<main>
    <section class="site-main page-index " role="main">
        <div class="container">
            <ul>
                <li class="__photo"
                    style="background: url('https://images.unsplash.com/photo-1528451635828-f28cd48439a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')no-repeat center; background-size: cover; ">
                </li>
                <li class="__photo"
                    style="background: url('https://images.unsplash.com/photo-1521909944782-4aee70b674ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')no-repeat center; background-size: cover; ">
                </li>
                <li class="__photo"
                    style="background: ('https://images.unsplash.com/photo-1541921671-10e275785336?ixlib=rb-1.2.1&auto=format&fit=crop&w=977&q=80')no-repeat center; background-size: cover;  ">
                </li>
            </ul>

        </div>
    </section>
</main>



<!-- recipe 1 -->
<section id="rec1">
    <div class="cont_principal">
        <div class="cont_central">
            <div class="cont_modal cont_modal_active">
                <div class="cont_photo">
                    <div class="cont_img_back">
                        <img src="https://7ifz.com/_/201911/0003e636-f134-4008-9324-91f3b9d02849.jpeg"
                            alt="" />
                    </div>
                    <div class="cont_mins">
                        <div class="sub_mins">
                            <h3>50</h3>
                            <span>MINS</span>
                        </div>
                        <div class="cont_icon_right">
                            <a href="#"> <i class="material-icons">&#xE8E7;</i></a>
                        </div>
                    </div>
                    <div class="cont_servings">
                        <h3>4</h3>
                        <span>SERVINGS</span>
                    </div>
                    <div class="cont_detalles">
                        <h3>M'sakhan</h3>
                        <p>Tart sumac balances sweet caramelized onions in a roast chicken and flatbread dish traditionally baked in a wood-fired oven called a taboon. </p>
                    </div>
                </div>
                <div class="cont_text_ingredients">
                    <div class="cont_over_hidden">

                        <div class="cont_tabs">
                            <ul>
                                <li><a href="#">
                                        <h4>INGREDIENTS</h4>
                                    </a></li>
                                <li><a href="#">
                                        <h4>PREPARATION</h4>
                                    </a></li>
                            </ul>
                        </div>

                        <div class="cont_text_det_preparation">
                            <div class="cont_title_preparation">
                                <p>STEP 1</p>
                            </div>
                            <div class="cont_info_preparation">
                                <p>Heat oven to 375 degress</p>
                            </div>
                            <div class="cont_text_det_preparation">

                                <div class="cont_title_preparation">
                                    <p>STEP 2</p>
                                </div>
                                <div class="cont_info_preparation">
                                    <p>Whisk flour and salt in a bowl. Combine water, sugar, and yeast in the bowl of a stand mixer fitted with a hook; let sit until foamy, about 10 minutes. With the motor running, slowly add flour mixture; mix until dough forms, about 3–4 minutes. Cover with plastic wrap; set in a warm place until doubled in size, about 1 hour.
                                        </p>
                                </div>

                            </div>
                        </div>
                        <div class="cont_btn_mas_dets">
                            <a href="#"><i class="material-icons">&#xE313;</i></a>
                        </div>

                    </div>
                    <div class="cont_btn_open_dets">
                        <a href="#e" onclick="open_close()"><i class="material-icons">&#xE314;</i></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

<!-- Recipe 2 -->

<!-- <div id="rec2">

<div class="cont_principal">
    <div class="cont_central">
        <div class="cont_modal cont_modal_active">
            <div class="cont_photo">
                <div class="cont_img_back">
                    <img src="https://www.saveur.com/resizer/RHEzaDhl8prBjGZN0OIuH5sYq-c=/1293x970/filters:focal(1000x750:1001x751)/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/TKJMR2KXXMMQJALR3WSR4IP5EA.jpg"
                        alt="" />
                </div>
                <div class="cont_mins">
                    <div class="sub_mins">
                        <h3>2</h3>
                        <span>HR</span>
                    </div>
                    <div class="cont_icon_right">
                        <a href="#"> <i class="material-icons">&#xE8E7;</i></a>
                    </div>
                </div>
                <div class="cont_servings">
                    <h3>4</h3>
                    <span>SERVINGS</span>
                </div>
                <div class="cont_detalles">
                    <h3>Dolmas</h3>
                    <p>fresh grape leaves; they are more tender and flavorful than the jarred types. Out of season, jarred leaves are a fine substitute </p>
                </div>
            </div>
            <div class="cont_text_ingredients">
                <div class="cont_over_hidden">

                    <div class="cont_tabs">
                        <ul>
                            <li><a href="#">
                                    <h4>INGREDIENTS</h4>
                                </a></li>
                            <li><a href="#">
                                    <h4>PREPARATION</h4>
                                </a></li>
                        </ul>
                    </div>

                    <div class="cont_text_det_preparation">
                        <div class="cont_title_preparation">
                            <p>STEP 1</p>
                        </div>
                        <div class="cont_info_preparation">
                            <p>Heat oven to 375 degress</p>
                        </div>
                        <div class="cont_text_det_preparation">

                            <div class="cont_title_preparation">
                                <p>STEP 2</p>
                            </div>
                            <div class="cont_info_preparation">
                                <p>Bring a large pot of water to a rolling boil. Fill a large bowl 2⁄3 of the way with ice water. Plunge the grape leaves into the boiling water and cook for 1 minute to tenderize. Using tongs or a slotted spoon, lift the leaves out of the pot and drop them immediately into the ice water. Strain the leaves, use a clean towel to pat them dry, then set them aside while you prepare the dolma filling.</p>
                            </div>

                        </div>
                    </div>
                    <div class="cont_btn_mas_dets">
                        <a href="#"><i class="material-icons">&#xE313;</i></a>
                    </div>

                </div>
                <div class="cont_btn_open_dets">
                    <a href="#e" onclick="open_close()"><i class="material-icons">&#xE314;</i></a>
                </div>

            </div>
        </div>
    </div>
</div> -->

        <script src="../public/js/index.js"></script>
</body>

</html>