<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <header></header>
    <main>
        <%searchResults.forEach(recipe =>{%>
        <img src="<%= recipe.image %>" alt="<%recipe.title %>" />
        <h3> <%recipe.title%></h3>
        <h4> <%recipe.readyInMinutes%></h4>
        <h4><%recipe.summary%></h4>
        <!-- 
        <form action="/add" method="POST">
            <input type="hidden" name="image" value="<%= recipe.image %>" />
            <input type="hidden" name="title" value="<%recipe.title%>" />
            <input type="hidden" name="readyInMinutes" value="<%= recipe.readyInMinutes %>" />
            <input type="hidden" name="summary" value="<%= recipe.summary %>" />
            <button name="ingredients"> Add To Favorite</button>
        </form> -->

        <%})%>
    </main>
    <footer></footer>
</body>

</html>