<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="../../public/css/layout.css">
    <link rel="stylesheet" href="../../../public/css/slider.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>

<body>

    <Section class="img-slider">
        <div class="slider-container">
            <section id="slideshow">
                <div class="slider">
                    <div class="slide current">
                        <div class="content">
                            <h1>Spices</h1>
                            <p>Here are 5 of the world’s healthiest herbs and spices.</p>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="content">
                            <h1>Cherry Tomato</h1>
                            <p>Food is... love. You cooking with love, good food. You make people happy. You
                                artiste!</p>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="content">
                            <h1>Grains Group</h1>
                            <p>1 slice of bread, 1 cup of ready-to-eat cereal, or ½ cup of cooked rice, cooked
                                pasta, or cooked cereal can be considered as 1 ounce-equivalent from the Grains
                                Group</p>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="content">
                            <h1>Baked Potato</h1>
                            <p>The best baked potato recipe, perfectly crispy and flavorful on the outside,
                                soft and fluffy on the inside, and so flavorful and delicious</p>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="content">
                            <h1>Healthy Food</h1>
                            <p>When there was food it was very much a comfort for me, I'm definitely a food
                                addict.</p>
                        </div>
                    </div>
                </div>

                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <!-- <label class="onoffswitch-label" for="myonoffswitch">Auto</label> -->
                </div>

                <div class="buttons">
                    <button id="prev"><i class="fas fa-arrow-left"></i></button>
                    <button id="next"><i class="fas fa-arrow-right"></i></button>
                </div>
            </section>

            <script src="../../../public/js/app.js"></script>
</body>

</html>